#paper {
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15),
    0 20px 7px 15px  rgba(0,0,0,0.1);
  }



form {
  margin: 0;
}

#standard-basic {
  padding: 15px 0;
}
nav {
  font-weight: 100;
  color:rgb(170, 169, 169);
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}