
#list {
  margin: 0;
  padding: 0;
}

.MuiInputAdornment-positionStart {
  margin-left: 25px;
}

#standard-basic {
  padding: 20px 0;
  font-size: 25px;
  font-weight: 100;
}



.item-text {
  display: inline-block;
}