
#listItem {
  border-bottom: rgba(0, 0, 0,.1) solid 1px;
}

#textList {
  font-size: 20px;
}


#list {
  padding: 0;
}

.MuiInputAdornment-positionStart {
  margin-left: 25px;
}

#standard-basic {
  padding: 20px 0;
  font-size: 20px;
}



.strike {
  text-decoration: line-through;
  color: #b2b2b2;
}

.item-text {
  display: inline-block;
}